* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  margin-right: 20px;
}
nav a {
  margin: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 200;
}

.logo {
  width: 200px;
  cursor: pointer;
}

.profile {
  padding-top: 150px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.profile img {
  height: 70vh;
  margin-left: 60px;
  align-items: center;
}

.visual-blocks {
  display: block;
  width: 40%;
}
.skills {
  margin-bottom: 30px;
}

.skills p {
  font-weight: 200;
  font-style: italic;
  font-size: 40px;
  line-height: 50px;
  display: inline-flex;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(200, 200, 200);
  color: black;
}
.plus:hover {
  background-color: white;
  cursor: pointer;
}
.friends p {
  font-weight: 200;
  font-style: italic;
  font-size: 40px;
  line-height: 50px;
  display: inline-flex;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(200, 200, 200);
  color: black;
}

.links {
  background-color: rgb(200, 200, 200);
  height: 100vh;
}

.contact {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  padding: 100px 50px;
}
